<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" (click)="goDashBoard($event)">Gerencia Pousada</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        (click)="goGestaoAcomodacao($event)">Acomodações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="goGestaoHospedes($event)">Hóspedes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="goGestaoReserva($event)">Reservas</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container p-3">
    <h5 class="text-center">Cadastrar Acomodação</h5>
</div>
<div class="container">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Número</span>
        <input [(ngModel)]="numero" class="form-control" placeholder="Número da acomodação"
            aria-label="Número da acomodação" aria-describedby="basic-addon1">
      <div class="invalid-feedback text-black text-lg-center">Informe a quantidade de pessoas</div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Capacidade</span>
        <input [(ngModel)]="capacidade" class="form-control" placeholder="Capacidade de hóspedes"
            aria-label="Capacidade de hóspedes" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Camas</span>
        <input [(ngModel)]="camas" class="form-control" placeholder="Quantidade de camas"
            aria-label="Quantidade de camas" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Valor da Diária</span>
        <input [(ngModel)]="valorDiaria" class="form-control" placeholder="Valor da diária" aria-label="Valor da diária"
            aria-describedby="basic-addon1">
    </div>

    <button type="button" class="btn btn-primary me-3" (click)="cadastrarAcomodacao()">Cadastrar</button>
    <button type="button" class="btn btn-primary me-3" (click)="goGestaoAcomodacao($event)">Cancelar</button>

</div>
