<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Login Screen</h1>
    <form>
        <div>
            <label for="inputUserEmail">Email</label><br>
            <input type="email" name="inputUserEmail" [(ngModel)]="inputUserEmail"><br><br>
            <label for="inputUserPassword">Senha</label><br>
            <input type="password" name="inputUserPassword" [(ngModel)]="inputUserPassword"><br><br>
        </div>
        <button id="Entrar" (click)="clickme()">Entrar</button>
    </form>

</body>

</html>