<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" (click)="goDashBoard($event)">Gerencia Pousada</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"
                        (click)="goGestaoAcomodacao($event)">Acomodações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="goGestaoHospedes($event)">Hóspedes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="goGestaoReserva($event)">Reservas</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container p-3 text-center">
    <h5 class="text-center">Gestão de Reservas</h5>
    <button class="btn btn-sm btn-outline-secondary" type="button" (click)="goAdicionarReserva()">Adicionar
        Reserva</button>
</div>

<div class="tableFixHead">
    <table class="table table-hover ">
        <thead>
            <tr>
                <th class="col-xs-3">id</th>
                <th class="col-xs-3">Acomodação</th>
                <th class="col-xs-3">Hóspede</th>
                <th class="col-xs-3">Entrada</th>
                <th class="col-xs-3">Saída</th>
                <th class="col-xs-3">Check-In</th>
                <th class="col-xs-3">Check-Out</th>
                <th class="col-xs-3">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dado of listaDeReservas">
                <td class="col-xs-3">{{dado.id}}</td>
                <td class="col-xs-3" (click)="recuperaDadosAcomodacao(dado.acomodacao.id)">{{dado.acomodacao.numero}}
                </td>
                <td class="col-xs-3" (click)="recuperaDadosHospede(dado.hospede.id)">{{dado.hospede.nome}}</td>
                <td class="col-xs-3">{{dado.dataEntrada}}</td>
                <td class="col-xs-3">{{dado.dataSaida}}</td>
                <td class="col-xs-3">{{dado.dataHoraEntrada}}</td>
                <td class="col-xs-3">{{dado.dataHoraSaida}}</td>
                <td class="col-xs-3">
                    <button type="button" class="btn btn-outline-secondary me-3"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        (click)="selectedIdExcluirBtn(dado.id)" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">Excluir</button>
                    <button type="button" class="btn btn-outline-secondary me-3"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        (click)="editarBtn(dado.id)">Editar</button>
                    <button type="button" class="btn btn-outline-secondary me-3"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        (click)="checkInBtn(dado.id)">Check-in</button>
                    <button type="button" class="btn btn-outline-secondary me-3"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                        (click)="checkOutBtn(dado.id)">Check-out</button>
                </td>

            </tr>
        </tbody>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar Exclusão</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir a reserva Id: {{selectedId}}?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="deleteBtn(selectedId)"
                            data-bs-dismiss="modal">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </table>
</div>



<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
</footer>