<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <p class="navbar-brand pe-auto" (click)="goDashBoard()" style="cursor: pointer;">
                Gerencia Pousada
            </p>
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="goGestaoHospedes()">Gestão de
                Hóspedes</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="goGestaoAcomodacao()">Gestão de
                Acomodações</button>
            <button class="btn btn-sm btn-outline-secondary" type="button" (click)="goGestaoReserva()">Gestão de
                Reservas</button>
        </div>
    </nav>


</body>

</html>